{{- define "main" -}}

    {{/* Initialise */}}
    {{ $block := index .Params.sections 0 }}
    {{ $show_social := $block.design.show_social | default false }}
    {{ $show_interests := $block.design.show_interests | default true }}
    {{ $show_organizations := $block.design.show_organizations | default false }}
    {{ $show_role := $block.design.show_role | default true }}

<div class="container people-list-wrap">

    {{ with $block.content.title }}
      <div class="article-title  mt-4 mb-4  ">
        <h1 class="mb-0">{{ . | markdownify | emojify }}</h1>
          {{ with $block.content.subtitle }}<p class="mt-1">{{ . | markdownify | emojify }}</p>{{ end }}
      </div>
    {{ end }}

      {{ range $block.content.user_groups }}
        {{- $group_name := . -}}
          {{ $query := where (where site.Pages "Section" "authors") ".Params.user_groups" "intersect" (slice .) }}

          {{/* Sort */}}
          {{ $sort_by := $block.content.sort_by | default "Params.sort_order" }}
          {{ $sort_by = partial "blox-core/functions/get_sort_by_parameter" $sort_by }}
          {{ $sort_ascending := $block.content.sort_ascending | default true }}
          {{ $sort_order := cond $sort_ascending "asc" "desc" }}
          {{ $query = sort $query $sort_by $sort_order }}

          {{if $query | and (gt (len $block.content.user_groups) 1) }}
            <div class="type_box list_box" style="flex:1;">
              <div class="sub_cat_item" >
                <div class="sc_hd">
                  <h3 class="">{{ . | markdownify }}</h3>
                </div>

                {{ if eq $group_name "Alumni" }}

                  {{/* Alumni are listed as plain names: no photo, no details, no link. */}}
                  <div class="row alumni-row">
                    {{ range $query }}
                      <div class="col-12 col-sm-6 col-lg-4 alumni-item">{{ .Title }}</div>
                    {{ end }}
                  </div>

                {{ else }}

                  <div class="row">

                    {{ range $query }}
                        {{ $avatar := (.Resources.ByType "image").GetMatch "*avatar*" }}
                        {{ $is_pi := eq $group_name "PI" }}
                        {{ $col_class := cond $is_pi "col-12 col-md-5" "col-12 col-md-6" }}

                        {{ $src := "" }}
                        {{ if site.Params.features.avatar.gravatar }}
                            {{ $src = printf "https://s.gravatar.com/avatar/%s?s=150" (md5 .Params.email) }}
                        {{ else if $avatar }}
                            {{ $src = $avatar.RelPermalink }}
                        {{ end }}

                      <div class="{{ $col_class }}">
                        <div class=" member-card row{{ if $is_pi }} pi-card{{ end }}" >

                          <div class="col-6 col-md-4">
                            {{ if $src }}
                              <div class=" member-img">
                                <img src="{{ $src }}" class=" " alt="{{ .Title }}" />
                              </div>
                            {{ end }}
                          </div>

                          <div class="col-6  col-md-8">
                              <div class="card-desc">
                              <h5 class="card-title">{{ .Title }}</h5>
                              <div class="card-text">

                                {{ with .Params.role }}<div class="ml-role">{{ . | markdownify | emojify }}</div>{{ end }}
                                {{ with .Params.university }}<div class="ml-university">{{ . | markdownify | emojify }}</div>{{ end }}
                                {{ with .Params.email }}<div class="ml-university">Email: {{ . | markdownify | emojify }}</div>{{ end }}
                                {{ with .Params.telephone }}<div class="ml-university">Tel: {{ . | markdownify | emojify }}</div>{{ end }}
                                {{ with .Params.office }}<div class="ml-university">Office: {{ . | markdownify | emojify }}</div>{{ end }}
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>

                      {{ if $is_pi }}
                        <div class="col-12 col-md-7 pi-bio">{{ .Content }}</div>
                      {{ end }}

                    {{ end }}

                  </div>

                {{ end }}

              </div>
            </div>
          {{end}}

      {{ end }}

</div>

{{- end -}}
